* {
    margin: 0px;
    padding: 0px;
}
body, html{
    height: 100%;
}
.fpl-slide-next{
    right: 20px;
    background: url("../images/arrows.png") no-repeat left top;
}
.fpl-slide-prev{
    left: 20px;
    background: url("../images/arrows.png") no-repeat right top;
}
.fpl-slide-next,
.fpl-slide-prev{
    position: absolute;
    top: 45%;
    width: 50px;
    height: 50px;
    background-color: lemonchiffon;
    display: block;
    z-index: 99;
}
.fpl-content{
    overflow: hidden;
}
.layer{
    width: 100%;
}
.fpl-next {
    position: absolute;
    left: 0px;
}