* {
    margin: 0px;
    padding: 0px;
}
body, html{
    height: 100%;
    overflow: hidden;
}
body{
    background: url("../images/mainbg.jpg") no-repeat left top;
    background-size: cover;
}
.fpl-slide-next{
    right: 20px;
    background: url("../images/arrows.png") no-repeat -256px top;
}
.fpl-slide-prev{
    left: 20px;
    background: url("../images/arrows.png") no-repeat -54px top;
}
.fpl-slide-next,
.fpl-slide-prev{
    position: fixed;
    top: 45%;
    cursor: pointer;
    width: 90px;
    height: 230px;
    display: block;
    z-index: 99;
}
.fpl-content{
    overflow: hidden;
}
.layer{
    width: 100%;
}
.fpl-next {
    position: absolute;
    left: 0px;
}
.slide {
    background-size: cover;
    position: relative;
}
.slide.first {
    background: url("../images/layer1.png") no-repeat left top;
}
.slide.second {
    background: url("../images/layer2.png") no-repeat left top;
}
.slide.laptop1 {
    background: url("../images/laptop1.png") no-repeat left top;
}
.slide.laptop2 {
    background: url("../images/laptop2.png") no-repeat left top;
}
.slide .product-info{
    display: none;
}
.layer.active .slide .product-info{
    display: block;
}
.slide.second .product-info,
.slide.first .product-info,
.slide.laptop1 .product-info,
.slide.laptop2 .product-info{
    position: absolute;
    bottom: 46px;
    right: 299px;
    width: 276px;
    height: 200px;
}